[submodule "TypescriptClient"]
	path = TypescriptClient
	url = https://github.com/JWebMP/TypescriptClient.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/JWebMP/Angular.git
[submodule "EasingEffects"]
	path = EasingEffects
	url = https://github.com/JWebMP/EasingEffects.git
[submodule "Globalize"]
	path = Globalize
	url = https://github.com/JWebMP/Globalize.git
[submodule "JQuery"]
	path = JQuery
	url = https://github.com/JWebMP/JQuery.git
[submodule "Modernizr"]
	path = Modernizr
	url = https://github.com/JWebMP/Modernizr.git
[submodule "PlusAsTab"]
	path = PlusAsTab
	url = https://github.com/JWebMP/PlusAsTab.git
[submodule "Prettify"]
	path = Prettify
	url = https://github.com/JWebMP/Prettify.git
[submodule "Moment"]
	path = Moment
	url = https://github.com/JWebMP/Moment.git
[submodule "LocalStorage"]
	path = LocalStorage
	url = https://github.com/JWebMP/LocalStorage.git
[submodule "SessionStorage"]
	path = SessionStorage
	url = https://github.com/JWebMP/SessionStorage.git
