[submodule "TypescriptClient"]
	path = TypescriptClient
	url = https://github.com/JWebMP/TypescriptClient.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/JWebMP/Angular.git
[submodule "EasingEffects"]
	path = EasingEffects
	url = https://github.com/JWebMP/EasingEffects.git
[submodule "Globalize"]
	path = Globalize
	url = https://github.com/JWebMP/Globalize.git
[submodule "JQuery"]
	path = JQuery
	url = https://github.com/JWebMP/JQuery.git
