[submodule "TypescriptClient"]
	path = TypescriptClient
	url = https://github.com/JWebMP/TypescriptClient.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/JWebMP/Angular.git
[submodule "EasingEffects"]
	path = EasingEffects
	url = https://github.com/JWebMP/EasingEffects.git
[submodule "Globalize"]
	path = Globalize
	url = https://github.com/JWebMP/Globalize.git
[submodule "JQuery"]
	path = JQuery
	url = https://github.com/JWebMP/JQuery.git
[submodule "Modernizr"]
	path = Modernizr
	url = https://github.com/JWebMP/Modernizr.git
[submodule "PlusAsTab"]
	path = PlusAsTab
	url = https://github.com/JWebMP/PlusAsTab.git
[submodule "Prettify"]
	path = Prettify
	url = https://github.com/JWebMP/Prettify.git
[submodule "Moment"]
	path = Moment
	url = https://github.com/JWebMP/Moment.git
[submodule "LocalStorage"]
	path = LocalStorage
	url = https://github.com/JWebMP/LocalStorage.git
[submodule "SessionStorage"]
	path = SessionStorage
	url = https://github.com/JWebMP/SessionStorage.git
[submodule "Toastr"]
	path = Toastr
	url = https://github.com/JWebMP/Toastr.git
[submodule "WayPoints"]
	path = WayPoints
	url = https://github.com/JWebMP/WayPoints.git
[submodule "JQueryUI"]
	path = JQueryUI
	url = https://github.com/JWebMP/JQueryUI.git
[submodule "Bootstrap"]
	path = Bootstrap
	url = https://github.com/JWebMP/Bootstrap.git
[submodule "FullCalendar"]
	path = FullCalendar
	url = https://github.com/JWebMP/FullCalendar.git
[submodule "FullCalendarPro"]
	path = FullCalendarPro
	url = https://github.com/JWebMP/FullCalendarPro.git
[submodule "FontAwesome"]
	path = FontAwesome
	url = https://github.com/JWebMP/FontAwesome.git
[submodule "FontAwesomePro"]
	path = FontAwesomePro
	url = https://github.com/JWebMP/FontAwesomePro.git
[submodule "DataTables"]
	path = DataTables
	url = https://github.com/JWebMP/DataTables.git
[submodule "DataTables-DefaultTheme"]
	path = DataTables-DefaultTheme
	url = https://github.com/JWebMP/DataTables-DefaultTheme.git
[submodule "DataTables-Bootstrap"]
	path = DataTables-Bootstrap
	url = https://github.com/JWebMP/DataTables-Bootstrap.git
[submodule "WavesEffect"]
	path = WavesEffect
	url = https://github.com/JWebMP/WavesEffect.git
[submodule "ChartJS"]
	path = ChartJS
	url = https://github.com/JWebMP/ChartJS.git
[submodule "Gallery"]
	path = Gallery
	url = https://github.com/JWebMP/Gallery.git
[submodule "FileUpload-JQuery"]
	path = FileUpload-JQuery
	url = https://github.com/JWebMP/FileUpload-JQuery.git
[submodule "BootstrapAngular"]
	path = BootstrapAngular
	url = https://github.com/JWebMP/BootstrapAngular.git
	branch = master
[submodule "AngularForms"]
	path = AngularForms
	url = https://github.com/JWebMP/AngularForms.git
	branch = master
[submodule "AngularFileUpload"]
	path = AngularFileUpload
	url = https://github.com/GedMarc/AngularFileUpload.git
